.title {
  margin-bottom: 8px;
  text-align: center;
}

.container {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 16.25rem);
  justify-content: center;
  grid-gap: 25px;
  background-color: rgb(224, 224, 224);

  @media (max-width: 860px) {
    grid-template-columns: repeat(auto-fit, 8.125rem);
  }
}

.message {
  text-align: center;
}
