.container {
  width: 16.25rem;
  height: 18.282rem;
  border-radius: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: rgb(239, 239, 239);
  overflow: hidden;

  @media (max-width: 860px) {
    width: 8.125rem;
    height: 8.141rem;
  }
}

.temp_image {
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: rgb(32, 128, 165);
  width: 16.25rem;
  height: 12.188rem;

  @media (max-width: 860px) {
    width: 8.125rem;
    height: 6.144rem;
  }
}

.text_container {
  width: 16.25rem;
  height: 6.094rem;
  background-color: rgb(239, 239, 239);
  border-radius: 0 0 0.5rem 0.5rem;
  transition: 0.4s ease-in-out;
  padding: 0.5rem;

  @media (max-width: 860px) {
    width: 8.125rem;
    height: 3.047rem;
    padding: 0.25rem;
  }
}

.container:hover .text_container {
  transform: translateY(-75%);
  height: 10.6645rem;

  @media (max-width: 860px) {
    height: 5.33rem;
  }
}

.quiz_title {
  font-size: 1.25rem;
  margin: 0.75rem 0 0 0;

  @media (max-width: 860px) {
    font-size: 0.75rem;
    margin: 0;
  }
}

.quiz_author {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;

  @media (max-width: 860px) {
    font-size: 0.65rem;
    height: 2.6rem;
    margin: 0;
  }
}

.quiz_description {
  margin-top: 2rem;
  font-size: 1rem;

  @media (max-width: 860px) {
    font-size: 0.65rem;
    margin-top: -24px;
  }
}
