.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 16.25rem;
  height: 18.282rem;
  border-radius: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: rgb(239, 239, 239);
  overflow: hidden;
  transition: box-shadow 0.3s;

  @media (max-width: 860px) {
    width: 12rem;
    height: 14rem;
  }
}

.question {
  text-align: center;
  margin: 12px 6px 6px;
  font-size: 0.9rem;

  @media (max-width: 860px) {
    font-size: 0.75rem;
    margin: 6px 3px 3px;
  }
}

.correct {
  background-color: rgb(50, 205, 50);
}

.incorrect {
  background-color: rgb(248, 131, 121);
}

.correct,
.incorrect {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14rem;
  height: 2rem;
  border-radius: 0.25rem;

  @media (max-width: 860px) {
    font-size: 0.75rem;
    width: 10rem;
    height: 1.5rem;
  }
}

.button_container {
  display: flex;
  gap: 10px;
}

.button_container button {
  margin-bottom: 8px;
  background-color: #ffffff;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  @media (max-width: 860px) {
    padding: 0.25rem 0.5rem;
  }
}

.button_container button:hover {
  background-color: rgb(249, 250, 251);
}

.popup_bg {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px) brightness(75%);
}
