html,
body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: rgb(224, 224, 224);
}

textarea {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

:root {
  --color-yellow: rgb(254, 236, 91);
  --color-yellow-hover: rgb(229, 194, 0);
  --color-blue: rgb(32, 129, 165);
  --color-pink: rgb(161, 130, 160);
}

.mother-container {
  display: flex;
  flex-direction: column;
}

a {
  color: black;
  text-decoration: none;
}
