.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4px 16px;
  background-color: var(--color-yellow);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 1.125rem;
  font-weight: 500;

  @media (max-width: 512px) {
    font-size: 1rem;
  }
}

.logo_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.menu_container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.user_container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.log_out {
  all: unset;
}

.log_out:focus {
  outline: -webkit-focus-ring-color auto 5px;
}

.log_out:hover {
  border-radius: 4px;
  outline: 2px var(--color-blue) solid;
  cursor: pointer;
}

.clickable,
.log_out {
  margin: -16px 0;
  padding: 16px 12px;
}

.clickable:hover {
  border-radius: 4px;
  outline: 2px var(--color-blue) solid;
}

.username {
  @media (max-width: 512px) {
    display: none;
  }
}
