.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.25rem 1rem 1.25rem;
  background-color: rgb(255, 215, 0);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 1.125rem;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 0.75rem;
    padding: 0.75rem 0.5rem 0.75rem;
  }
}

.logo_container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.menu_container {
  display: flex;
  flex-direction: row;
}

.user_container {
  display: flex;
  flex-direction: row;
}

.log_out {
  all: unset;
}

.log_out:hover {
  cursor: pointer;
  background-color: rgb(240, 200, 0);
}

.clickable,
.log_out {
  margin: -1.25rem 0 -1.25rem;
  padding: 1.25rem 0.75rem 1.25rem;

  @media (max-width: 768px) {
    margin: -0.75rem 0 -0.75rem;
    padding: 0.75rem 0.5rem 0.75rem;
  }
}

.clickable:hover {
  background-color: rgb(240, 200, 0);
}
